<p>
  isotopes works!
</p>

<table class="table">
  <thead >
    <tr>
      <th >Isotope</th>
      <th>Authorized Limit</th>
      <th>Qtly Starting Balance</th>
      <th>Qtly Received</th>
      <th>Qtly Disposal</th>
      <th>Current Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let isotope of theisotopes">
      <th scope="row"><a [routerLink]="['/isotope-details', isotope._id]">{{isotope.isotopeName}}</a>
      </th>
      
      <td>{{isotope.currentAmount}}</td>
    </tr>
  </tbody>
</table>
<p>Add New Isotope</p>



