<div class="container">
    <div class="row">
      <div class="col-md-12 well-custom bg-white overflow-h padding-2">
        <div class="row">
          <div class="content-mini relative-new-component col-md-4 well-custom fg-primary-text overflow-h">
            <div class="block block-mini">  
              <i class="fa fa-user fg-acent-color icon-mini"></i>
              <div class="title-mini">
                <h2>Isotope Edition </h2>
              </div>
            </div>
          </div>
          <div class="content-mini col-md-8  well-custom fg-white overflow-h">
            <div class="block block-mini">
              <!-- //////////// Isotope Name///////////////-->
              <!--Disabling name input-->
              <form class="form">
                <div class="form-group">   
                    <label for="isotope name">Isotope Name</label>               
                    <input type="text"  name="isotopeNameInput" [(ngModel)]="isotope.isotopeName" id="isotopeNameInput"
                      class="form-control"  disabled>
                    <p class="help-block"></p>                  
                </div>
                <!-- /////////// Auth Limit////////////////-->
                <div class="form-group">
                    <label for="authorizedLimitInput">Authorized Limit</label>
                  <input type="number"  name="authorizedLimitInput" [(ngModel)]="isotope.authorizedLimit" id="authorizedLimitInput" class="form-control" disabled>
                </div>
                <!-- //////////// Starting Balance ///////////////-->
                <div class="form-group">
                    <label for="starting balance">Starting Balance</label>
                  <input type="number"  name="startingBalanceInput" [(ngModel)]="isotope.startingBalance" id="startingBalanceInput" class="form-control" disabled>
                </div>
                <!-- ///////////// Received Amount //////////////-->
                <div class="input-group form-group  mb-3">
                  <label for="qtlyReceivedAmount">Qtly Received Amount</label>
                    <input type="number" autofocus name="qtrReceivedAmountInput" (keyup)="onKey()" [(ngModel)]="isotope.qtrReceivedAmount" class="form-control">
                    
                    <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">µCi</span>
                  </div>
                </div>
                <!-- //////////// Disposed Amount ///////////////-->
                <div class="input-group form-group">
                  <label for="qtlyDisposedAmount">Qtly Disposed Amount</label>
                  <input type="number"  name="qtrDisposedAmountInput" (keyup)="onKey()" [(ngModel)]="isotope.qtrDisposedAmount" class="form-control">
                  <span class="input-group-text" id="basic-addon2">µCi</span>
                </div>
                <!-- //////////// Current Amount ///////////////-->
                <div class="form-group">
                  <label for="Current Amount">Current Amount</label>
                  <input type="number"  name="currentAmountInput" [(ngModel)]="isotope.currentAmount" id="currentAmountInput" class="form-control" disabled>
                </div>
                <!-- ///////////////////////////-->
                <div id="success"></div>
                <!-- For success/fail messages -->
                <div class="btn-actions2">
                  <button (click)="editProfile()" class="btn btn-primary btn-md btn-2">Submit</button>
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
 
