

    <h3>Esta pagina no va al customer. Esta pagina es solo de uso</h3> 
    <h3>exclusivo para el administrador que puede crear agencias</h3>
    <br>
    
     
        <div class="panel-heading">
            <h3 class="panel-title">Adding PI</h3>
        </div>
      
        <div class="panel-body">
          <form method="post" action="/pi">
            <fieldset>
    
                <div class="form-group">            
                    <label for="piName"> Name of PI </label>
                    <input id="piName" class="form-control" placeholder=" name" name="piName" type="text" autofocus>
                </div>                                 
           <!-- Change this to a button or input when using this as a form -->
           <button class="btn btn-lg btn-primary btn-block">Add agency</button>
           </fieldset>
          </form>
         </div>
      </div>
      </div>
     </div>
    </div>
    
    
    
    
    
    
    