<form #receivedForm = "ngForm" (ngSubmit)="receivedEdit(receivedForm)" >
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="select">Select Isotope</label>
        </div>
        <select  class="custom-select" id="select" [(ngModel)] ="receivedIsotope.receivedIsotopeName" name="receivedIsotopeName" required>
          <!-- <option selected></option> -->
          <option *ngFor="let isotope of typeOfIsotope" [value]="isotope" >{{isotope}}</option>
        </select>
    </div>

    <div class="form-group">   
      <label for="dateReceived">Date Received</label>
      <input type="text"  name="displayTime" placeholder="{{displayTime}}" class="form-control">
      <p class="help-block"></p>
    </div>
    <div class="form-group">
      <label for="receivedAmount">Received Amount</label>
       <input type="number"  [(ngModel)]="receivedIsotope.receivedAmount" #recAmount="ngModel"
        name="receivedAmount" id="receivedAmount" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="piUser">PI's name </label>
      <input type="text"  [(ngModel)]="receivedIsotope.piUser" 
         name="piUser" id="piUser" class="form-control" requiered>
    </div>
    <div class="form-group">
      <label for="manufact" >Manufacturer</label>
      <input type="text" [(ngModel)]="receivedIsotope.manufacturer" 
        name="manufacturer" class="form-control" id="manufact" required>
    </div> 

    <div class="btn-actions2">
      <button type="submit"   class="btn btn-primary btn-md btn-2"
      [disabled]="!receivedForm.form.valid">Submit</button>
    </div>
</form>

{{ receivedIsotope | json}}





<!-- <form class="form" id='test'> -->

   <!-- <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Select Isotope</label>
      </div>
      <select  class="custom-select" id="inputGroupSelect01"> -->
        <!-- <option selected></option> -->
        <!-- <option *ngFor="let isotope of theisotopes" value={{isotope._id}}  name="recID" >{{isotope.isotopeName}}</option>
      </select>
    </div> -->

    <!-- <div class="form-group">   
      <label for="isotope name">Date Received</label>
      <input type="text"  [(ngModel)]="displayTime" name="displayTime"  class="form-control">
      <p class="help-block"></p>
    </div>

    <div class="form-group">
      <label for="receivedAmount">Received Amount</label>
      <input type="number"  [(ngModel)]="receivedIsotope.receivedAmount" name="receivedAmount" id="receivedAmount" class="form-control">
    </div>

    <div class="form-group">
        <label for="piUser">PI's name </label>
        <input type="text"  name="piUser" [(ngModel)]="receivedIsotope.piUser" id="piUser" class="form-control">
    </div>

    <div class="form-group">
        <label for="manufact" >Manufacturer</label>
        <input type="text" [(ngModel)]="receivedIsotope.manufacturer" name="manufacturer" class="form-control" id="manufact">
    </div> -->
    
    <!-- ///////////////////////////-->
    <!-- <div id="success"></div> -->
    <!-- For success/fail messages -->
    <!-- <div class="btn-actions2">
      <button (click)="receivedEdit()" class="btn btn-primary btn-md btn-2">Submit</button>
      
    </div>
  </form> -->
  