        <div class="row"> 
             <% isotopeList.forEach((oneIso) => { %>
                <div class="col-md-4">
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4> <%= oneIso.isotope.Name%></h4>
                    </div>
                    
                    </div>
                </div>
            <% }) %>
        </div>